@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t3xd5y');
  src:  url('fonts/icomoon.eot?t3xd5y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t3xd5y') format('truetype'),
    url('fonts/icomoon.woff?t3xd5y') format('woff'),
    url('fonts/icomoon.svg?t3xd5y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-electronics-1:before {
  content: "\e900";
}
.icon-electronics:before {
  content: "\e901";
}
.icon-camera:before {
  content: "\e902";
}
.icon-behance:before {
  content: "\e903";
}
