/*
comentario en el css

en el css declaramos reglas css

selector {
    propiedad : valor ;
    otra-propiedad : valor;
}
 
SELECTORES BÁSICOS
selector de etiqueta     nombredeetiqueta
selector de clase        .valor-atributos-class 
selector de id           #valor-atributo-id  

*/

/*RESET*/
body {
    margin: 0;
}

.lista-reset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    list-style-type: none;
}

/*SKIN Ó TEMA*/
.fondo-color {
    background-color: crimson;
    color: white;
}

.portada {
    /*    ruta relativa a la imagen */
    background-image: url(../imagenes/fondo.jpg);
    background-color: orange;
    background-size: cover;
    background-attachment: fixed;
}

.marco {
    border-width: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    /*css3*/
    /*   sobra de caja: distanciaX distanciaY desenfocado propagacion color*/
    -webkit-box-shadow: 0 0 5px 5px rgba(111, 1, 1, 0.53);
    box-shadow: 0 0 5px 5px rgba(111, 1, 1, 0.53);
    /*css3*/

}

/*combinacion de selectores*/
.titulo.destacado {
    text-shadow: 0 1px 0 #ccc,
        0 3px 0 #bbb,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 10px rgba(0, 0, 0, .25),
        0 20px 50px rgba(0, 255, 255, 0.3);
    font-size: 135px;


    transform: rotate(-10deg) scale(.5);
    /*estandar*/
    /*algunas propiedades de css3 requieren el uso de los prefijos*/
    -moz-transform: rotate(-10deg) scale(.5);
    /*prefijos mozilla*/
    -webkit-transform: rotate(-10deg) scale(.5);
    /*prefijo chrome, safari*/
    -ms-transform: rotate(-10deg) scale(.5);
    /*prefijos explorer*/

}

.titulo {
    color: white;
    /*
    text-shadow: 3px 3px 0 white,
                5px 5px 0 red    ;
*/
}





/*FUENTES*/
body {
    font-family: 'Nunito', sans-serif;
    /*css3*/
    font-size: 25px;
}

.titulo {
    font-family: 'Cinzel Decorative', cursive;
    /*css3*/
    text-align: center;
}



/*LAYOUT (COMPOSICIÓN DE PÁGINA)*/

.contenedor {
    padding: 35px;
}

/*utilidad*/
.centrado {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.fila {
    /*flexbox*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.columna1 {
    width: 500px;
}

/*
.columna1,
.columna2 {background-color:beige;}

*/


.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 10px;


}


/*selector descendente*/
.pie ul {
    display: flex;
    justify-content: center;
}


/* formulario de subscripcion */

#Subscripcion {
    text-align: center;
    margin-top: 35px;
}


input:focus {
    outline: 3px dashed lightgreen;
    outline-offset: 3px;
}


/*
:required
:optional
:valid
:invalid
*/

input:required {
    border-color: rebeccapurple;
}


input[type=email]:focus:invalid,
input[type=text]:focus:invalid {
    background: red;
}

input[type=email]:focus:valid,
input[type=text]:focus:valid {
    background: green;
}


/*LAYOUT RESPONSIVE*/

.esconder {
    display: none;
}


/* media queries */

/**/


@media only screen and (min-width: 768px) {

    /*    la mediaquerie es una proposicion logica de "if" 
    Si el medio tiene salida de pantalla, y un ancho minimo de 768px, se renderizan en pantalla las reglas css declaradas entre las {} de las mediaqueries
    */
    .mostrar-md {
        display: block;
    }
    
    .titulo.destacado {
        transform: rotate(-10deg) scale(1)
    }

}
