
.flex{
	box-sizing: boder-box;
	
	display: flex;
	flex-wrap: wrap;
}
.flex-item{
	background-color: rebeccapurple;
	height: 100px;
	border: 2px solid gold;
	color: white;
	font-size: 26px;
	
	flex-grow: 1;
	flex-basis: 250px;
	
	/* Convierto a este elemento también en un flex
	   Esto no altera la estructura externa */
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-item:nth-child(3){
	flex-grow: 10;
}







