
.flex{
	box-sizing: boder-box;
	background-color: tomato;
	
	display: flex;
	/* Dirección: row / column */
	flex-direction: column;
	
	/* Masonry */
	flex-wrap: wrap;
	/* Cuando cambiamos el direction se dan vuelta los ejes:
		justify-content ahora es vertical
		align-items ahora es horizontal
	*/
	justify-content: space-between;
	max-height: 500px;
}
.flex-item{
	background-color: skyblue;
	height: 100px;
	border: 2px solid gold;
	
	margin: 20px;
	flex-grow: 1; 
}

.flex-item:nth-child(2){
	height: 230px;
	order: -1;
}
.flex-item:nth-child(3){
	height: 130px;
}
.flex-item:nth-child(4){
	height: 30px;
	order: -1;
}









