.deco-line {
  background-color: #d65a31;
  height: 6px;
  width: 100%;
}

#parallax-img {
  background-image: url("/images/barrio7-unsam.jpg");
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 99vh;
}

#parallax-img2 {
  background-image: url("/images/barrio3-sanmartin.jpg");
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 400px;
}
#parallax-img3 {
  background-image: url("/images/animal1-grande.jpg");
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 400px;
}

[class*="col-"] {
  padding: 1rem;
}