/*
comentario en el css

en el css declaramos reglas css

selector {
    propiedad: valor;
    otra-propiedad: valor;
}
*/

/*selector de etiqueta*/
ul {
    font-style: italic;
}

body {
    font-family: arial, sans-serif;
    color: navy;
}


p {
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    
}

/*selector de clase*/

.titulo {
    font-size: 45px;
    text-align: center;
}

/*selector de id*/

#AlbumTheWorks{
    border-width: 3px;
    border-style: solid;
    border-color: aquamarine;
}





